@media screen and (min-width: 980px) {
    .container {
        flex-direction: row;
        display: flex;
        justify-content: space-between;
        align-content: space-between;
    }
}

@media screen and (max-width: 760px) {
    .container {
        flex-direction: column;
        display: flex;
        justify-content: space-between;
        align-content: space-between;
    }
}

.renderedText {
    max-width: 425px;
    flex-direction: column;
    display: flex;
}

.heroImage {
    max-width: 425px;
    height: auto;
    width: 100%;
}