.footerStyle {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.footerStyle p:first-child {
    padding-bottom: 0;
    margin-bottom: 9px;
}

@media screen and (min-width: 980px) {
    .footerStyle p {
        padding-bottom: 0;
        margin-bottom: 9px;
        margin-top: 9px;
        margin-left: 20%;
        margin-right: 20%;
        color: #00e5ff;
    }
}

@media screen and (max-width: 760px) {
    .footerStyle p {
        padding-bottom: 0;
        margin-bottom: 9px;
        margin-top: 9px;
        margin-left: 5%;
        margin-right: 5%;
        color: #00e5ff;
    }
}

.footerStyle p:last-child {
    margin-top: 9px;
}

.footerStyle p a {
    text-decoration: none;
    color: initial;
}

.footerStyle p a:hover {
    color: #00e5ff;
}

@media screen and (min-width: 980px) {
    .layoutPage {
        margin-top: 2.5%;
        margin-left: 20%;
        margin-right: 20%;
        flex-grow: 1;
    }
}

@media screen and (max-width: 760px) {
    .layoutPage {
        margin-top: 2.5%;
        margin-left: 5%;
        margin-right: 5%;
        flex-grow: 1;
    }
}

.container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}